.modal-dialog {
    max-width: 90%;
    height: 90%;
    display: flex;
    .modal-content {
        flex: 1 0 auto;
        overflow: auto;
        display: grid;
        .modal-header {
            flex: 0 1 auto;
        }
        .modal-body {
            flex: 1 0 auto;
            overflow: auto;
            display: flex;
            flex-direction: column;
            .filters{
                input {
                    padding: 5px;
                    border-radius: 3px;
                    width: 100%;
                    border: 1px solid #a3a3a3;
                }
            }
            .item-list {
                flex: 1 0 auto;
            }
        }
        .modal-footer {
            flex: 0 1 auto;
        }
    }
}